<div class="card">
  {{image_url}}
  <img class="card-img" src="{{this.image_url}}" alt="{{this.name}}">
  <div>
    <a href="/cards/{{this.id}}"><p>{{this.name}}</p></a>
    <p>{{this.element}}</p>
    <p>{{this.description}}</p>
    <p>{{this.strength}}</p>
    <p>{{this.health}}</p>
    <p>{{this.skill}}</p>
    <p>{{this.ability}}</p>
    <p>{{this.class}}</p>
  </div>
</div>