<<<<<<< HEAD
<div class='title-card'>
  <h2 class='letter-card'>{{user.username}}'s Profile</h2>
  <p class="email">{{user.email}}</p>
=======
<div class='title-profile'>
  <h2 class="letter-profile">{{user.username}}'s Profile</h2>
</div>

<div class="title-profile">
  <h4 class="letter-profile">{{user.email}}</h4>
>>>>>>> main
</div>

{{#each cards}}
  <div class='cont-text'>
    <div class='cont-image'>
      <img
        class='image-card'
        src='{{this.card.image}}'
        alt='{{this.card.name}}'
      />
    </div>
    <h3><u>Name:</u> {{this.card.name}}</h3>
    <h3><u>Element:</u> {{this.card.element}}</h3>
    <h3><u>Description:</u> {{this.card.description}}</h3>
    <h3><u>Attack:</u> {{this.card.attack}}</h3>
    <h3><u>HP:</u> {{this.card.HP}}</h3>
    <h3><u>Ability:</u> {{this.card.ability}}</h3>
  </div>
{{/each}}

<div class="btn-logout">
  <a href='/logout'><button class='button-create-top'>logout</button></a>
</div>
<div class='nav-bar-profile'>
  <ul class='nav-bar-ul'>
    <li class='nav-bar-li'><a class='nav-bar-a' href='/'>Home</a></li>
    <li class='nav-bar-li'><a
        class='nav-bar-a'
        href='/cards/create'
      >Create</a></li>
    <li class='nav-bar-li'><a class='nav-bar-a' href='/cards'>Cards</a></li>
    <li class='nav-bar-li'><a class='nav-bar-a' href='/profile'>Profile</a></li>
  </ul>
</div>