<h2>Pokkemon Cards</h2>

<a href="/cards/create">Create Card</a>

<div class="list">
    {{#each cards}}

    <div class='cards-create-list'>
        <img class="image-cards" src="{{image}}" alt="{{name}}">
        <h3>Name: {{name}}</h3>
        <h3>Element: {{element}}</h3>
        <h3>Description: {{description}}</h3>
        <h3>Attack: {{attack}}</h3>
        <h3>HP: {{HP}}</h3>
        <h3>Ability: {{ability}}</h3>
        <a href='/cards/{{_id}}/edit'>Edit Card</a>
        <br>
        <form action='/cards/{{_id}}/delete' method="post">
            <button>Delete card</button>
        </form>
    </div>
    {{/each}}
</div>